<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instant Messenger</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main-page.css">
</head>
<body>
    <div id="chat">
        <div class="column" id="groupList">
            <div>
            </div>
        </div>
        <div class="column" style="width: 90%">
            <div id="messagesLayoutWindow">
                <div id="messages">
                </div>
            </div>
            <div class="row" id="friendList">

            </div>
        </div>
        <div class="column">
            <div id="profileMenu">
                <div class="row" id="profileIcon">
                </div>
                <ul>
                    <li class="profileButton" style="margin-top: 20px;">

                    </li>

                    <li class="profileButton">
                        
                    </li>
                    <li class="profileButton">
                        
                    </li>
                </ul>
            </div>
            
            <div id="buttonMenu">
                
            </div>
        </div>
    </div>
</body>
</html>
