<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="uft -8">
    <title>initialloginpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="initialloginpage.css">
   </head>
   <body>
    <div class="center">
      <h1>INSTANT MESSENGER</h1>
      <form method="post">
        <div>
            <label>USERNAME</label>
        </div>
        <div class="txt_field">
          <input type="text" placeholder="Enter USERNAME"  required>
        </div>
       

        <div class="button1">
          <button>START</button>
        </div>
      </form>
    </div>
  </body>
</html>