* {
  font-family: 'Bangers', cursive;
  color: transparent;
  -webkit-text-stroke: 1px #773A1F;
  border-color: #773A1F;
  letter-spacing: 2px;
}

.title-logo {
  font-size: 54px;
}
  
body {
  background: url('../UI/Materials/19834.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.in-circle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.form-container {
  text-align: center;
  width: 600px;
  position: fixed;
}

.form-container form {
  padding: 0 40px;
  box-sizing:border-box;
}

.txt_field input {
  width: 80%;
  padding: 0 5px;
  height: 40px;
  font-size: 24px;
  border-style: solid;
  border-radius: 90px;
  background: none;
  outline: none;
}

input::placeholder {
  color: transparent;
}

.txt_field input:hover{            
  border-color: #e77110;
  transition: .5s;
}
  
.start-button {
  margin-top: 20px;
  border-radius: 20px;
  width: 150px;
  background: none;
  outline: none;
  font-size: 32px;
}

.username-txt {
  font-size: 32px;
  font-weight: 700;
}
